/* Global Styles */

body {
    background-color: #DAA520; /* Goldenrod */
    font-family: Arial, sans-serif;
}

/* List Item Styles */

li {
    background-color: #F5F5DC; /* Light beige */
    padding: 10px;
    border-radius: 10px; /* Rounded edges */
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Header Styles */

h1, h2 {
    color: #663300; /* Dark brown */
    margin-bottom: 20px;
}

/* Article Styles */

article {
    background-color: #F5F5DC; /* Light beige */
    padding: 20px;
    border-radius: 10px; /* Rounded edges */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    display: grid;
  grid-template-columns: 2fr 1fr;  
  grid-template-rows: auto auto;      
  gap: 10px;                         
}

/* Footer Styles */

footer {
    background-color: #F5F5DC; /* Light beige */
    padding: 10px;
    border-radius: 10px; /* Rounded edges */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    text-align: center;
    color: #663300; /* Dark brown */
}

.logo {

    width: 50px;
    height: 50px;
}

.details {
    grid-column: span 1;
}

.guests {
    grid-column: span; 
    grid-row: 1;          
}

.parks{
    grid-row: 2;
}